*{
    background-color: azure;
}
.plava{
    width: 500px;
    height: 300px;
    background-color: blue;
    position: relative;
}
.bijelah{
    width: 10px;
    height: 300px;
    background-color: white;
    position: absolute;
    left: 130px;
    z-index: 1;
}
.bijelav{
    width: 500px;
    height: 50px;
    position: absolute;
    top: 150px;
    z-index: 1;
}
.crvenah{
    width: 10px;
    height: 300px;
    background-color: red;
    position: absolute;
    left: 80px;
    z-index: 2;
}

.crvenav{
    width: 500px;
    height: 30px;
    background-color: red;
    position: absolute;
    top: 150px;
    z-index: 2;
}

.plava2{
    background-color: cornflowerblue;
    width: 500px;
    height: 300px;
    position: absolute;
    z-index: 1;

}
.zuta{
    width: 500px;
    height: 100px;
    position: absolute;
    background-color: yellow;
    top: 100px;
    z-index: 2;
}
.crv_h{
    width: 0;
    height: 0;
    position: absolute;
    border-left: 150px solid black;
    border-top: 150px solid transparent;
    border-bottom: 150px solid transparent;
    z-index: 3  ;
    left: 10px;
}

